*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#page1 {
    height: 100vh;
    width: 100vw;
   /* background-color: red;*/
    position: relative;
}

#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>nav{
    height: 10vh;
    width: 100vw;
    position: absolute;
   /* background-color: yellow;*/
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 30px;

    
}

#page1 nav img{
    height: 200px;
    width: 100px;
    margin-top: 100px;
    margin-left: 40px;
    
}

#right-nav>button{

    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #fff;
    background-color: #0b48ed;
    color: #fff;
    font-family: a;
    font-size: 15px;


}

.bottom-page1{
    position: absolute;
    bottom: 5%;
    left: 10%;
    height: 35vh;
    width: 50vw;
}

.bottom-page1>h1{
    font-family: a;
    font-size: 5vw;
    font-weight: 900;
    line-height: 1;
    color: #fff;
}

.bottomh1{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
    /*background-color: magenta;*/
}

.bottomh1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    font-family: a;

}

.bottomh1>button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 16px;
    font-weight: 700;
}

.bottomh1>h4{
    font-size: 1.3vw;
    font-weight: 900;
    color: #fff;
}

